<p>
	Metadata template (<a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>) for rendering
	every synced Raindrop.io highlights & annotations.
</p>

<p>Some notes:</p>
<ul>
	<li>The rendered result is placed in the front matter of the generated post.</li>
	<li>
		If the rendered result does not follow the YAML syntax, the plugin will reject the update.
	</li>
	<li>
		<code>raindrop_id</code> and <code>raindrop_highlights</code> properties are transparently
		added and updated by the plugin.
	</li>
	<li>Available variables to use are the same as the previous template.</li>
</ul>
