Template (<a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>) for
rendering every synced Raindrop.io highlights & annotations.

<p>
  <b>Available variables to use</b>
</p>

Metadata
<ul>
  <li><span class="u-pop">{{now}}</span> (Moment) - Present time</li>
</ul>

Article Metadata
<ul>
  <li><span class="u-pop">{{is_new_article}}</span> (bool) - New file indicator</li>
  <li><span class="u-pop">{{id}}</span> (number) - Article identifier</li>
  <li><span class="u-pop">{{title}}</span> (string) - Title</li>
  <li><span class="u-pop">{{excerpt}}</span> (string) - Article excerpt</li>
  <li><span class="u-pop">{{note}}</span> (string) - Article note</li>
  <li><span class="u-pop">{{link}}</span> (string) - Link to source</li>
  <li><span class="u-pop">{{highlights}}</span> (Highlight[]) - List of your Highlights (Detail attributes refer to the following <span class="u-pop">Highlight</span> section)</li>
  <li><span class="u-pop">{{collection}}</span> (Collection) - Collection data (Detail attributes refer to the following <span class="u-pop">Collection</span> section</li>
  <li><span class="u-pop">{{creator}}</span> (Creator) - Creator data (Detail attributes refer to the following <span class="u-pop">Creator</span> section</li>
  <li><span class="u-pop">{{tags}}</span> (string[]) - List of tag</li>
  <li><span class="u-pop">{{cover}}</span> (string) - Article cover</li>
  <li><span class="u-pop">{{created}}</span> (Moment) - Created on</li>
  <li><span class="u-pop">{{type}}</span> (string) - Article type</li>
  <li><span class="u-pop">{{important}}</span> (bool) - Favorite article</li>
  <li><span class="u-pop">{{raindropUrl}}</span> (string) - Link to raindrop page</li>
</ul>

Creator
<ul>
  <li><span class="u-pop">{{name}}</span> (string) - Creator name</li>
  <li><span class="u-pop">{{id}}</span> (number) - Creator id</li>
</ul>

Collection
<ul>
  <li><span class="u-pop">{{title}}</span> (string) - Collection title</li>
</ul>

Highlight
<ul>
  <li><span class="u-pop">{{id}}</span> (string) - Highlight identifier</li>
  <li><span class="u-pop">{{text}}</span> (string) - Text</li>
  <li><span class="u-pop">{{color}}</span> (string) - Highlight color</li>
  <li><span class="u-pop">{{created}}</span> (Moment) - Created on</li>
  <li><span class="u-pop">{{lastUpdate}}</span> (Moment) - Updated on</li>
  <li><span class="u-pop">{{note}}</span> (string) - Annotation</li>
</ul>

Filter
<ul>
  <li><span class="u-pop">date(format: string)</span> Convert Moment object to string - example: <code>{{ now | date("YYYY/MM/DD") }}</code>. For more syntax, refer to <a href="https://momentjs.com/docs/#/displaying/format/">format reference</a>.</li>
</ul>
