Template (<a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>) for
rendering every synced Raindrop.io highlights & annotations.

<p>
  <b>Available variables to use</b>
</p>

Article Metadata
<ul>
  <li><span class="u-pop">{{is_new_article}}</span> (bool) - New file indicator</li>
  <li><span class="u-pop">{{id}}</span> (number) - Article identifier</li>
	<li><span class="u-pop">{{collectionTitle}}</span> (string) - Collection title</li>
  <li><span class="u-pop">{{title}}</span> (string) - Title</li>
  <li><span class="u-pop">{{excerpt}}</span> (string) - Article excerpt</li>
  <li><span class="u-pop">{{link}}</span> (string) - Link to source</li>
  <li><span class="u-pop">{{highlights}}</span> (string) - List of your Highlights</li>
  <li><span class="u-pop">{{tags}}</span> (string) - List of tag</li>
  <li><span class="u-pop">{{cover}}</span> (string) - Article cover</li>
  <li><span class="u-pop">{{created}}</span> (string) - Created on</li>
  <li><span class="u-pop">{{type}}</span> (string) - Article type</li>
  <li><span class="u-pop">{{important}}</span> (bool) - Favorite article</li>
</ul>

Collection
<ul>
  <li><span class="u-pop">{{title}}</span> (string) - Collection title</li>
</ul>

Highlight
<ul>
  <li><span class="u-pop">{{id}}</span> (string) - Highlight identifier</li>
  <li><span class="u-pop">{{text}}</span> (string) - Text</li>
  <li><span class="u-pop">{{color}}</span> (string) - Highlight color</li>
  <li><span class="u-pop">{{created}}</span> (string) - Created on</li>
  <li><span class="u-pop">{{lastUpdate}}</span> (string) - Updated on</li>
  <li><span class="u-pop">{{note}}</span> (string) - Annotation</li>
</ul>
