Template (<a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>) for
rendering every synced Raindrop.io highlights & annotations.

<p>
  <b>Available variables to use</b>
</p>

Article Metadata
<ul>
  <li><span class="u-pop">{{is_new_article}}</span> - New file indicator</li>
  <li><span class="u-pop">{{id}}</span> - Article identifier</li>
  <li><span class="u-pop">{{title}}</span> - Title</li>
  <li><span class="u-pop">{{excerpt}}</span> - Article excerpt</li>
  <li><span class="u-pop">{{link}}</span> - Link to source</li>
  <li><span class="u-pop">{{highlights}}</span> - List of your Highlights</li>
</ul>

Highlight
<ul>
  <li><span class="u-pop">{{id}}</span> - Highlight identifier</li>
  <li><span class="u-pop">{{text}}</span> - Text</li>
  <li><span class="u-pop">{{color}}</span> - Highlight color</li>
  <li><span class="u-pop">{{created}}</span> - Created on</li>
  <li><span class="u-pop">{{lastUpdate}}</span> - Updated on</li>
  <li><span class="u-pop">{{note}}</span> - Annotation</li>
</ul>
