{% if is_new_article %}
# Metadata
{% if link %}Source URL:: {{link}}{% endif %}

---
# {{title}}

{% if excerpt %}{{excerpt}}{% endif %}

## Highlights
{% endif -%}{% for highlight in highlights %}
{% if highlight.color == "red" -%}
    {%- set callout = "danger" -%}
{%- elif highlight.color == "blue" -%}
    {%- set callout = "info" -%}
{%- elif highlight.color == "green" -%}
    {%- set callout = "check" -%}
{%- else -%}
    {%- set callout = "quote" -%}
{%- endif -%}
> [!{{callout}}]+ Updated on {{highlight.lastUpdate}}
>
> {{highlight.text.split("\n") | join("\n>")}}
{% if highlight.note -%}>
> > {{highlight.note}}
{%- endif %}
{%- endfor -%}
