name: Build obsidian plugin

on:
  push:
    tags:
      - "*.*.*"

env:
  PLUGIN_NAME: obsidian-raindrop-highlights

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          package-manager-cache: false
      - name: Enable Corepack
        run: corepack enable
      - name: Configure Dependency Cache
        uses: actions/setup-node@v6
        with:
          cache: pnpm
      - name: Build
        id: build
        run: |
          pnpm install
          pnpm run build --if-present
          mkdir ${{ env.PLUGIN_NAME }}
          cp main.js manifest.json styles.css ${{ env.PLUGIN_NAME }}
          zip -r ${{ env.PLUGIN_NAME }}.zip ${{ env.PLUGIN_NAME }}
          ls
          echo "::set-output name=tag_name::$(git tag --sort version:refname | tail -n 1)"
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: ${{ steps.build.outputs.tag_name }}
          draft: false
          prerelease: false
          files: |
            ./${{ env.PLUGIN_NAME }}.zip
            ./main.js
            ./manifest.json
            ./styles.css
